# Environment Variables

| Name | Type | Default Value | Description |
|------|------|---------------|-------------|
{{- range .}}
| {{.Name}} | {{.Type}} | {{printf "%#v" .DefaultValue}} | {{.Description}}|
{{- end }}