# Environment variables with extended scope not included in a service

| Name | Type | Default Value | Description |
|---|---|---|---|
{{- range .Variables }}
{{- if .Ignore }}
    {{- continue }}
{{- end }}
`{{ .Name }}` | {{ .Type }} | {{ printf "%#v" .DefaultValue }} | {{ .Description }} |
{{- end }}