# Environment variables with global scope available in multiple services

| Name | Introduction Version | Type | Description | Default Value |
|---|---|---|---|---|
{{- range . }}
`{{ .Name }}` | {{ .IntroductionVersion }} | {{ .Type }} | {{ .Description }} | {{ .DefaultValue }} |
{{- end }}
