{{ if .HasDeprecations }}
{{.Timestamp}}

## Deprecation Notice

| Deprecation Info | Deprecation Version | Removal Version | Deprecation Replacement |
|---|---|---|:---|
{{- range .Deprecations }}
| {{ .DeprecationInfo}} | {{ .DeprecationVersion}} | {{ .RemovalVersion}} | {{ .DeprecationReplacement}} |
{{- end }}

{{ end -}}

## Environment variables for the **{{ .ExtensionName }}** service

| Name | Introduction Version | Type | Description | Default Value |
|---|---|---|---|:---|
{{- range .Fields }}
|{{- range $i, $value := .EnvVars }}{{- if $i }}<br/>{{end -}}`{{ $value }}`{{- end}}| {{ .IntroductionVersion }} |{{ .Type }}|`{{ .Description }}`|`{{ .DefaultValue }}`|
{{- end }}
